.header {
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pfp {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
}



@media screen and (max-width: 768px) {
  .pfp {
    max-width: 200px;
  height: auto;
  display: block;
  }

  .content {
    width: 90vw;
    justify-content: center;
  }
}